body {
        font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
          'Arial', sans-serif;
        padding: 20px 20px 60px;
        max-width: 680px;
        margin: 0 auto;
        background : rgb(196, 233, 233);
     }

  .navbar {
            background : rgb(2, 95, 95);
            padding: 15px;
          }

  .img-fluid{
            background : rgb(196, 233, 233);

          }

  .estilo{
            width: 45%;
         }

